@use '../variables' as v;

.home {
  padding: 15px;
  justify-content: space-between;

  .left-panel {
    font-family: v.$font-secondary;

    p {
      font-size: 14px;
      color: v.$color-lightn;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-weight: 500;
    }

    .header {
      font-weight: 700;
      font-size: 54px;

      .name {
        color: v.$color-primary;
      }
    }

    .secondary-header {
      font-weight: 700;
      font-size: 48px;
    }
  }

  .right-panel {}
}