@use '../variables' as v;

.home {
  padding: 15px;
  justify-content: space-between;
  align-items: center;

  .right-panel {
    font-family: v.$font-secondary;


    .welcome-text {
      font-size: 14px;
      color: v.$color-lightn;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-weight: 500;
    }

    .header {
      font-size: 54px;

      .name {
        color: v.$color-primary;
      }
    }

    .secondary-header {
      font-size: 48px;
    }

    .description {
      font-size: 16px;
      line-height: 30px;
      color: v.$color-lightn;
      margin-top: 20px;
      opacity: 0.8;
    }
  }

  .left-panel {}

  .skills-list {
    flex-wrap: wrap;

    .skill {
      padding: 10px 10px 10px 0;
    }
  }
}